.ticTacToeGameBoard {
    height: 150px;
    width: 150px;
}

.ticTacToeGameBoard td {
    border: 1px;
    border-style: solid;
    height: 50px;
    text-align: center;
    width: 50px;
}

.gameStatus { margin-top: 5px; }

.newGameBtn {
    height: 80%;
    margin-top: 5px;
}